.header-menu-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.header-menu-fan {
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-family: "Quicksand";
  font-weight: 500;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-fan:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menu-athlete {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-family: Quicksand;
  font-weight: 500;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-athlete:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menu-organization {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-family: Quicksand;
  font-weight: 500;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-organization:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menu-partner {
  display: none;
  font-size: 18px;
  transition: 0.3s;
  font-family: Quicksand;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-partner:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menu-developers {
  display: none;
  font-size: 18px;
  transition: 0.3s;
  font-family: Quicksand;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-developers:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menu-help {
  display: none;
  font-size: 18px;
  transition: 0.3s;
  font-family: "Quicksand";
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.header-menu-help:hover {
  color: var(--dl-color-turquoise-default);
}
 
.header-menuroot-class-name {
  display: none;
}
 
@media(max-width: 479px) {
  .header-menu-header {
    gap: var(--dl-layout-space-halfunit);
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
